body {
    
    background-image: linear-gradient(to right, rgba(4, 247, 190, 0.856), rgb(0, 137, 105));
}
.main_circle {
    height: 500px;
    width: 500px;
    
    background-image: linear-gradient(to right , rgb(2, 64, 62), rgba(4, 141, 136, 0.913));
    border-radius: 50%;
    display: inline-block;
    margin-left: 500px;
    margin-top: 110px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(1, 46, 52);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.475);
    
  }
h1 {
    color: rgb(252, 249, 245);
    margin-left: 200px;
    margin-top: 100px;
}
.input_button{
    margin-left: 125px;
}

#uname{
    height: 25px;
    width: 250px;
    margin-top: 20px;
    border-radius: 25px;
    
    background-color: rgb(203, 203, 203);
    text-align: center;
}
#pword{
    height: 25px;
    width: 250px ;
    border-radius: 25px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(203,203,203);
}

.submit{
 margin-left: 125px;
 margin-top: 30px;
 height: 30px;
 width: 250px;
 background-color: rgb(0, 137, 105);
 border-color: rgb(0, 137, 105);
}
h4 {
    margin-top: 20px;
    margin-left: 170px;
    color: rgb(203, 203, 203);   
    
}
h4:hover{
    color: rgba(4, 247, 190, 0.856);
}